<!DOCTYPE html>
<html lang="en">
  <title>Any Thoughts?</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
  <style>
  .scrollbox {
    border: none;
    width: 100%;
    height: 150px;
    overflow: scroll;
  }
  </style>
  <body>
	   {{{ body }}}
  </body>
</html>
